 body {
     background-image: url('../img/12.jpg');
     background-repeat: repeat;
     width: 100%;
     height: 800vh;
     display: block;
 }

 header {
     position: absolute;
     top: 2%;
     background: url('../img/Jumping.jpg') no-repeat;
     background-size: 100%;
     display: block;
     width: 90%;
     height: 85vh;
     left: 5%;

 }

 .logo {
     position: relative;
     opacity: 0.9;
     top: 0;
     text-align: center;
     left: 35%;
     width: 30%;
     height: 25vh;
 }

 .phone {
     font-family: untitled-font-3;
     content: 'b';
     position: absolute;
     top: 1vw;
     left: 3%;
     font-size: 1.5vw;
 }

 .phone::before {
     content: 'b';
     position: absolute;
     left: -20%;
     font-size: 2vw;
     color: purple;
 }

 .contacts {
     float: right;
     position: absolute;
     top: 1vw;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     left: 93%;
     list-style: none;
     margin: 1vw;
     padding: 0;

 }

 .contacts>li {
     text-decoration: none;
 }

 .contacts>li>a {
     text-decoration: none;
 }

 .vk {
     font-family: untitled-font-3;
     content: 'c';
     font-size: 2vw;
     color: navy;
 }

 .vk::before {
     content: 'c';
 }

 .vk:hover,
 .ins:hover {
     font-size: 2.2vw;

 }

 .ins {
     font-family: untitled-font-3;
     content: 'd';
     font-size: 2vw;
     color: purple;
 }

 .ins::before {
     content: 'd';
 }

 .ul-nav {

     position: absolute;
     vertical-align: bottom;
     opacity: 1;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     width: 100%;
     height: 10vh;
     top: 75vh;
     background-color: #E6E6E6;
     line-height: inherit;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     list-style: none;
     margin: 0;
     padding: 0;
     text-transform: uppercase;
     z-index: 1;

 }

 .ul-nav>li {

     font-weight: bold;
     font-size: 1.5vw;

     padding: 0;
     line-height: 10vh;
     text-align: center;

 }

 main {
     display: block;
     background: url('../img/stucco_texture2042.jpg');
     background-repeat: repeat;
     background-size: 100%;
     width: 90%;
     height: 700vh;
     position: absolute;
     top: 80vh;
     background-color: #F2F2F2;
     left: 5%;
 }

 .welcome {
     width: 100%;
     height: 230vh;

 }

 .section-direction {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
     -ms-flex-direction: row;
     flex-direction: row;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     margin-left: 1vw;
 }

 .direction {
     margin-top: 5%;
     width: 50%;
     text-align: center;
     font-size: 1.5vw;
     margin-left: 25%;
     padding: 1%;

 }

 .container {
     position: relative;
 }

 .jumping {
     width: 25vw;
     height: 45vh;

 }

 .content {
     width: 24vw;

     position: absolute;
     font-weight: bold;
     bottom: 1.5vh;
     font-family: sans-serif;
     font-size: 1vw;

     text-align: center;
     background-color: lightgrey;
     opacity: 0.7;
     border: solid 2px white;
     border-radius: 50%;

 }

 .content>h2>a {

     text-decoration: none;
     color: black;

 }

 .buttom {
     font-weight: bold;
     padding: 1%;
     top: 10vh;
     left: -13vw;
     position: relative;

     opacity: 0.9;

     border: 4px double grey;
     text-decoration: none;
     font-size: 1.5vw;
     font-style: italic;

     text-align: center;
     color: black;
     background-color: lightgrey;
     border: 1px solid;

 }

 .buttom:hover {
     background-color: grey;
     border: 2px double silver;
 }

 .sale {
     background: url('../img/br.jpg') repeat;
     width: 100%;
     height: 80vh;
     position: relative;
     top: -2%;

 }

 .slade {
     width: 100%;
     height: 60vh;
     position: relative;
     top: 1%;
     overflow: hidden;
 }

 .slade input {
     display: none;
 }

 .slade label {
     -webkit-transition: 3s;
     -o-transition: 3s;
     transition: 3s;
 }

 .slade img {
     position: absolute;
     left: 50%;
     top: 50%;
     max-width: 100%;
     max-height: 100%;
     -webkit-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
 }

 .slade label,
 .slade #slade1:checked~[for="slade1"],
 .slade #slade2:checked~[for="slade2"],
 .slade #slade3:checked~[for="slade3"] {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     -webkit-transform: translateX(100%);
     -ms-transform: translateX(100%);
     transform: translateX(100%);
     opacity: 0;
 }

 .slade #slade1:checked~[for="slade1"],
 .slade #slade2:checked~[for="slade2"],
 .slade #slade3:checked~[for="slade3"] {
     -webkit-transform: translateX(-100%);
     -ms-transform: translateX(-100%);
     transform: translateX(-100%);
     opacity: 0;
 }

 .slade #slade1:checked~[for="slade2"],
 .slade #slade2:checked~[for="slade3"],
 .slade #slade3:checked~[for="slade1"] {
     -webkit-transform: translateX(0);
     -ms-transform: translateX(0);
     transform: translateX(0);
     opacity: 1;

 }

 .content:hover {
     background-color: #D358F7;
     opacity: 0.8;
     color: white;
     font-size: 1.2vw;
 }

 .price {
     top: -14%;
     width: 100%;
     height: 80vh;
     position: relative;

 }

 .section-price {
     position: relative;
     left: 23vw;
     width: 50vw;
     height: 57vh;
     display: inline-block;
 }

 .content-price {
     width: 24vw;
     height: 55vh;
     position: absolute;
     background-color: #CC2EFA;
     opacity: 0.9;
     border: solid 2px white;

 }

 .section-price>img {
     position: relative;
     width: 20vw;
     height: 55vh;
     float: right;
     left: -7vw;
     border: solid 2px white;



 }

 .content-price>h3 {
     font-weight: bold;
     font-family: sans-serif;
     font-size: 1.5vw;
     text-align: center;
     font-style: italic;
     position: relative;
     top: 6vh;
 }

 .seven {
     font-size: 5vw;
     border-radius: 100%;
 }

 .content-price>a {
     left: 4vw;
     top: 6vh;
     text-decoration: none;
     padding: 1%;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 1.5vw;
     font-style: italic;
     position: relative;
     text-align: center;
     color: black;
     background-color: lightgrey;
     border: 1px solid;
     border-radius: 15%;

 }

 .content-price>a:hover {
     background-color: white;
     border: 2px solid;
 }

 .trainers {
     top: -14%;
     width: 100%;
     height: 50vh;
     position: relative;
     background: url('../img/blue.jpg') repeat;
 }

 .section-trainers {
     width: 100%;
     height: 50vh;
     position: relative;
 }

 .section-trainers>h2 {
     text-align: center;
     font-size: 2.5vw;
     padding: 1%;
     color: white;
 }

 .section-trainers>p {
     text-align: center;
     color: white;
     width: 50%;
     font-size: 1.5vw;
     margin-left: 25%;
 }

 .trainers-photo {
     width: 100%;
     height: 75vh;
     position: relative;


 }

 .trainers-photo>img {
     position: relative;
     display: inline-block;
     height: 75vh;
     width: 25vw;

 }

 /*.inf {
    position: absolute;
     height: 75vh;
    width: 25vw;
     background-color: white;
}*/

 .hall {
     width: 100%;
     height: 85vh;
     position: relative;
     top: -2%;
 }

 .section-hall {
     width: 100%;
     height: 85vh;
     text-align: center;
     font-size: 2vw;
 }

 .section-hall>iframe {
     width: 50vw;
     height: 70vh;
     float: right;
 }

 .section-hall>img {
     position: absolute;
     width: 30vw;
     height: 30vh;
     left: 1vw;
     margin: 1%;
 }

 .section-hall>img:nth-of-type(2) {
     top: 50vh;
 }

 .sale>h2 {
     text-align: center;
     font-size: 2.5vw;
     padding: 1%;
     color: #FF0000;
     background-color: #424242;

 }